# Require Michael Fowlie's approval for all GitHub configuration.
/.github/ @mfow
/.github/** @mfow
/.github/CODEOWNERS @mfow

# Require Michael Fowlie's approval for the repository license.
/LICENSE @mfow
